bin
race.txt

src/sandbox
out
tmp/02 - Inferno - CANTO SECONDO.txt
tmp/03 - Inferno - CANTO TERZO.txt
tmp/04 - Inferno - CANTO QUARTO.txt
tmp/05 - Inferno - CANTO QUINTO.txt
tmp/06 - Inferno - CANTO SESTO.txt
tmp/07 - Inferno - CANTO SETTIMO.txt
tmp/08 - Inferno - CANTO OTTAVO.txt
tmp/09 - Inferno - CANTO NONO.txt
tmp/10 - Inferno - CANTO DECIMO.txt
tmp/11 - Inferno - CANTO DECIMOPRIMO.txt
tmp/12 - Inferno - CANTO DECIMOSECONDO.txt
tmp/13 - Inferno - CANTO DECIMOTERZO.txt
tmp/14 - Inferno - CANTO DECIMOQUARTO.txt
tmp/15 - Inferno - CANTO DECIMOQUINTO.txt
tmp/16 - Inferno - CANTO DECIMOSESTO.txt
tmp/17 - Inferno - CANTO DECIMOSETTIMO.txt
tmp/18 - Inferno - CANTO DECIMOTTAVO.txt
tmp/19 - Inferno - CANTO DECIMONONO.txt
tmp/20 - Inferno - CANTO VENTESIMO.txt
tmp/21 - Inferno - CANTO VENTESIMOPRIMO.txt
tmp/22 - Inferno - CANTO VENTESIMOSECONDO.txt
tmp/23 - Inferno - CANTO VENTESIMOTERZO.txt
tmp/24 - Inferno - CANTO VENTESIMOQUARTO.txt
tmp/25 - Inferno - CANTO VENTESIMOQUINTO.txt
tmp/26 - Inferno - CANTO VENTESIMOSESTO.txt
tmp/27 - Inferno - CANTO VENTESIMOSETTIMO.txt
tmp/28 - Inferno - CANTO VENTESIMOTTAVO.txt
tmp/29 - Inferno - CANTO VENTESIMONONO.txt
tmp/30 - Inferno - CANTO TRENTESIMO.txt
tmp/31 - Inferno - CANTO TRENTESIMOPRIMO.txt
tmp/32 - Inferno - CANTO TRENTESIMOSECONDO.txt
tmp/33 - Inferno - CANTO TRENTESIMOTERZO.txt
tmp/34 - Inferno - CANTO TRENTESIMOQUARTO.txt
tmp/35 - Purgatorio -   CANTO PRIMO.txt
tmp/36 - Purgatorio - CANTO SECONDO.txt
tmp/37 - Purgatorio - CANTO TERZO.txt
tmp/38 - Purgatorio - CANTO QUARTO.txt
tmp/39 - Purgatorio - CANTO QUINTO.txt
tmp/40 - Purgatorio - CANTO SESTO.txt
tmp/41 - Purgatorio - CANTO SETTIMO.txt
tmp/42 - Purgatorio - CANTO OTTAVO.txt
tmp/43 - Purgatorio - CANTO NONO.txt
tmp/44 - Purgatorio - CANTO DECIMO.txt
tmp/45 - Purgatorio - CANTO DECIMOPRIMO.txt
tmp/46 - Purgatorio - CANTO DECIMOSECONDO.txt
tmp/47 - Purgatorio - CANTO DECIMOTERZO.txt
tmp/48 - Purgatorio - CANTO DECIMOQUARTO.txt
tmp/49 - Purgatorio - CANTO DECIMOQUINTO.txt
tmp/50 - Purgatorio - CANTO DECIMOSESTO.txt
tmp/51 - Purgatorio - CANTO DECIMOSETTIMO.txt
tmp/52 - Purgatorio - CANTO DECIMOTTAVO.txt
tmp/53 - Purgatorio - CANTO DECIMONONO.txt
tmp/54 - Purgatorio - CANTO VENTESIMO.txt
tmp/55 - Purgatorio - CANTO VENTESIMOPRIMO.txt
tmp/56 - Purgatorio - CANTO VENTESIMOSECONDO.txt
tmp/57 - Purgatorio - CANTO VENTESIMOTERZO.txt
tmp/58 - Purgatorio - CANTO VENTESIMOQUARTO.txt
tmp/59 - Purgatorio - CANTO VENTESIMOQUINTO.txt
tmp/60 - Purgatorio - CANTO VENTESIMOSESTO.txt
tmp/61 - Purgatorio - CANTO VENTESIMOSETTIMO.txt
tmp/62 - Purgatorio - CANTO VENTESIMOTTAVO.txt
tmp/63 - Purgatorio - CANTO VENTESIMONONO.txt
tmp/64 - Purgatorio - CANTO TRENTESIMO.txt
tmp/65 - Purgatorio - CANTO TRENTESIMOPRIMO.txt
tmp/66 - Purgatorio - CANTO TRENTESIMOSECONDO.txt
tmp/67 - Purgatorio - CANTO TRENTESIMOTERZO.txt
tmp/68 - Paradiso -   CANTO PRIMO.txt
tmp/69 - Paradiso - CANTO SECONDO.txt
tmp/70 - Paradiso - CANTO TERZO.txt
tmp/71 - Paradiso - CANTO QUARTO.txt
tmp/72 - Paradiso - CANTO QUINTO.txt
tmp/73 - Paradiso - CANTO SESTO.txt
tmp/74 - Paradiso - CANTO SETTIMO.txt
tmp/75 - Paradiso - CANTO OTTAVO.txt
tmp/76 - Paradiso - CANTO NONO.txt
tmp/77 - Paradiso - CANTO DECIMO.txt
tmp/78 - Paradiso - CANTO DECIMOPRIMO.txt
tmp/79 - Paradiso - CANTO DECIMOSECONDO.txt
tmp/80 - Paradiso - CANTO DECIMOTERZO.txt
tmp/81 - Paradiso - CANTO DECIMOQUARTO.txt
tmp/82 - Paradiso - CANTO DECIMOQUINTO.txt
tmp/83 - Paradiso - CANTO DECIMOSESTO.txt
tmp/84 - Paradiso - CANTO DECIMOSETTIMO.txt
tmp/85 - Paradiso - CANTO DECIMOTTAVO.txt
tmp/86 - Paradiso - CANTO DECIMONONO.txt
tmp/87 - Paradiso - CANTO VENTESIMO.txt
tmp/88 - Paradiso - CANTO VENTESIMOPRIMO.txt
tmp/89 - Paradiso - CANTO VENTESIMOSECONDO.txt
tmp/90 - Paradiso - CANTO VENTESIMOTERZO.txt
tmp/91 - Paradiso - CANTO VENTESIMOQUARTO.txt
tmp/92 - Paradiso - CANTO VENTESIMOQUINTO.txt
tmp/93 - Paradiso - CANTO VENTESIMOSESTO.txt
tmp/94 - Paradiso - CANTO VENTESIMOSETTIMO.txt
tmp/95 - Paradiso - CANTO VENTESIMOTTAVO.txt
tmp/96 - Paradiso - CANTO VENTESIMONONO.txt
tmp/97 - Paradiso - CANTO TRENTESIMO.txt
tmp/98 - Paradiso - CANTO TRENTESIMOPRIMO.txt
tmp/99 - Paradiso - CANTO TRENTESIMOSECONDO.txt
tmp/100 - Paradiso - CANTO TRENTESIMOTERZO.txt
